.basket {
    position: relative;
    background-color: white;

    .book_in_basket {
        display: flex;
        border-bottom: 1px solid rgb(233, 233, 233);
        margin: 20px;
        padding-bottom: 5px;

        img {
            margin-right: 20px;
        }
    }
}