.base_container {
    display: flex;
    position: relative;
    max-width: 1560px;
    min-width: 1100px;
    background-color: white;
    
    .menu_container {
        width: 19%;
    }

    .content_container {
        width: 81%;
        min-width: 800px;
    }
}