.contacts {
    position: relative;
    background-color: white;

    .contacts_content {
        font-size: 20px;
        padding: 20px;

        div {
            margin-top: 20px;
        }
    }
}