.categories {
    margin-top: 50px;

    .loading_categories {
        display: flex;
        flex-wrap: wrap;

        .skeleton {
            width: 200px;
            margin: 5px;
        }
    }

    .categories_list {
        display: flex;
        flex-wrap: wrap;

        .ant-btn-lg {
            margin: 5px;
        }
    }

    .categories_modal {
        z-index: 100000;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.658);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 200px;

        .categories_list {
            justify-content: center;
        }
    }
}