.books_table {
    background-color: white;
    padding-bottom: 70px;

    .books_loading {
        display: flex;
        flex-wrap: wrap;
    }

    .books_blocks {
        display: flex;
        flex-wrap: wrap;
    }
}